.updateContainer{
  display: flex;
  gap: 30px;
  height: 80vh;
   width: 100vw;
   align-items: center;
    justify-content: center;
}

.container{
    display: flex; 
    
    flex-direction: column;
    gap: 2rem;
}

.form{
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  /* box-shadow: 5px 1px0 10px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 0  10px rgba(0, 0, 0, 0.1);
  width: 470px;
}
.inputDiv {
  margin-bottom: 1rem;
}
.inputLabel {
  display: block;
  margin-bottom: 0.25rem;
}
.inputSpan{
  color: red;
  margin-right: 2px;
}
.userInput {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.submitButton{
 width: 100%;
    height: 2rem;
    margin-top: 1rem;
}

.error{
  height: 2vh;
  color: red;
}

.profileContainer {
  flex: 1;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  max-width: 400px;
}